{% extends 'base.html' %}

{% block content %}

<div class="more m-5" style="background-color: rgb(214, 212, 209);"><h1>Подробнее о {{more.title}}</h1></div>
<div class="container mt-5" style="display: flex;">
    <div class="img m-5"><img src="{{more.image.url}}" alt="" style="width: 450px; border-radius: 20px;"></div>
    <div class="title m-5">
        <div class="title m-5"><h1>{{more.title}}</h1></div>
        <div class="description m-5"><p><b>Описание : </b> {{more.description}}</p></div>
        <div class="price m-5"><p><b>Цена : </b>{{more.price}} com</p></div>

        
        <div class="btn m-5"><a href="{% url 'main' %}"><button class="btn btn-success">На главную</button></a></div>
    </div>
</div>


{% endblock %}